.logo-sm {
  width: 40px;
  height: 40px;
}

.avatar-sm {
  width: 30px;
  height: 30px;
}
.list-group-item:hover {
  background-color: gray;
  color: white;
  }

.btn-w30 {
  width: 30px;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}